.panelhazakosszes
{
    display: flex;
    justify-content:space-between;
}
.panelhaz{
    width: 200px;
    height: 400px;
    background-color:#ccc;
    border: 3px solid #3a3a3a;
}
.Egyemelet{
    display:flex;
    height: 10%;
}
.azAblak{
    width: 70%; 
    height: 80%;
    background-color: #213242;
    border: 2px solid #c1c1c1;
    transition: background-color 1s ease;
    cursor: pointer;
}
.azAblak.lampa-fel{
    background-color: rgb(252, 252, 45);
}
body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgb(2, 0, 72), rgb(70, 0, 124));
    background-attachment: fixed;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
